
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/iomemory-vsl4/v16/ipch/AutoPCH/87c392577fb7628e/KBLOCK.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/77fb1c424b06db12/KSCSI_HOST.ipch
.vs/iomemory-vsl4/v16/Browse.VC.opendb
.vs/iomemory-vsl4/v16/Browse.VC.db
.vs/iomemory-vsl4/v16/.suo
