
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/iomemory-vsl4/v16/ipch/AutoPCH/87c392577fb7628e/KBLOCK.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/77fb1c424b06db12/KSCSI_HOST.ipch
.vs/iomemory-vsl4/v16/Browse.VC.opendb
.vs/iomemory-vsl4/v16/Browse.VC.db
.vs/iomemory-vsl4/v16/.suo
.vs/iomemory-vsl4/v16/ipch/AutoPCH/dbdc768fb6c0b7f1/KSCATTER.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/c9901ddede366e61/KFILE.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/bfb47377736a63b8/CDEV.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/9af57e3cf525432d/KCSR.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/63cdf6342dbd6433/KCACHE.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/4d1acd382c447b7d/KINIT.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/341cbf2b7be8e25f/MAIN.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/13c034af97ff8d57/DBGSET.ipch
.vs/VSWorkspaceState.json
.vs/iomemory-vsl4/v16/ipch/AutoPCH/c08eebae82c425e0/FIO-STAT.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/491629ef46b03400/PORT_CONFIG.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/3a479aff1a1df202/UFIO.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/2e0f5675094bf2ac/KBLOCK.ipch
.vs/iomemory-vsl4/v16/ipch/AutoPCH/2b8770b43a35d1cb/KBLOCK.ipch
ioMemory-vsl4/ioMemory-vsl4.vcxproj.filters
ioMemory-vsl4/ioMemory-vsl4.vcxproj.user
root/.vs/slnx.sqlite
root/.vs/root/v16/Browse.VC.opendb
root/.vs/root/v16/Browse.VC.db
root/.vs/ProjectSettings.json
ioMemory-vsl4/.vs/VSWorkspaceState.json
ioMemory-vsl4/.vs/slnx.sqlite
ioMemory-vsl4/.vs/ProjectSettings.json
ioMemory-vsl4/.vs/ioMemory-vsl4/v16/Browse.VC.db
ioMemory-vsl4/.vs/ioMemory-vsl4/v16/.suo
*.ipch
root/.vs/root/v16/.suo
